 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap');

 * {
     font-family: 'Work Sans', sans-serif;
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }

 /* shared styles */

 button {
     border-radius: 5px;
     background: #FF900E;
     color: #FFF;
     text-align: center;
     font-size: 20px;
     font-weight: 400;
     padding: 10px;
     margin-top: 10px;
     border: none;
 }

 /* header section styling */

 header {
     background-color: rgba(255, 144, 14, 0.10);
     margin: 0px auto;
     padding: 50px 240px;
 }

 nav {
     display: flex;
     justify-content: space-between;
 }

 nav>ul {
     display: flex;
 }

 .nav-title {
     color: var(--Dark-01, #131313);
     font-size: 2.8rem;
     font-weight: 700;

 }

 nav>ul>li {
     margin-right: 30px;
     list-style-type: none;
     font-size: 1.2rem;
     font-weight: 500;
 }

 .heading {
     text-align: center;
     margin: 100px 50px 0px;
 }

 .heading-title {
     font-size: 4rem;
     font-weight: 700;
 }

 .heading-paragraph {
     font-size: 1rem;
     margin-top: 10px;
     font-weight: 400;
 }

 .img-container {
     text-align: center;
 }

 .img-container img {
     max-width: 100%;
     height: auto;
     margin-top: 10px;
 }


 /* feature section styling */

 .feature {
     width: auto;
     height: 500px;
     margin: 40px 300px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .feature-img-container,
 .feature-text-container {
     max-width: 48%;

 }

 .feature-img-container img {
     height: 200px;
     width: 200px;
 }

 .feature-img1,
 .feature-img2 {
     display: flex;
     gap: 10px;
 }

 .text-heading {
     color: var(--Dark-03, #727272);
     font-size: 2.8rem;
     font-weight: 500;

 }

 .text-heading span {
     font-size: 2.8rem;
     font-weight: 500;
     color: var(--Dark-01, #131313);

 }

 .text-heading .ft-color {
     color: #FF900E;
     font-size: 2.8rem;
     font-weight: 500;
 }


 /* enjoy-feature section styling */

 .enjoy-feature {
     max-width: 1900px;
     margin: 50px 240px;
      max-height: 100%; 
     display: flex;
     justify-content: space-between;
     gap: 50px;
 }

 .enjoy-feature-text,
 .enjoy-feature-image {
     width: 48%;

 }

 .enjoy-feature-title {
     color: var(--Dark-01, #131313);
     font-size: 2.5rem;
     font-weight: 700;
 }

 .enjoy-feature-paragraph,
 .enjoy-feature-subtitle-paragraph {
     color: var(--Dark-03, #727272);
     font-size: 1rem;
     font-weight: 400;
     margin-top: 5px;

 }

 .feature-description {
     margin-top: 20px;
     border-radius: 8px;
     background: #FFF;
     box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
     padding: 10px;
 }

 .ten-years-badge {
     border-radius: 8px;
     background: #FF900E;
     padding: 30px;
     color: white;
     width: 300px;
     position: relative;
     bottom: 100px;
     right: 50px;
 }

 .ten-years-badge h2 {
     font-size: 3rem;
     margin: 0;
     text-align: center;
 }

 .ten-years-badge p {
     font-size: 1.5rem;
     text-align: center;
 }

 .facts {
     max-width: 80%;
     margin: 50px 240px;
    

 }

 .facts-card-section {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 50px;
     margin-top: 50px;
     margin-left: 30px;
 }

 .fact-card {
     border-radius: 8px;
     border: 1px solid #FF900E;
     padding: 30px 20px;
     text-align: center;
 }

 .fact-card-number {
     color: var(--Dark-02, #424242);
     font-family: Work Sans;
     font-size: 45px;
     font-weight: 600;

 }

 .fact-card-title {
     color: var(--Dark-03, #727272);
     font-family: Work Sans;
     font-size: 20px;
     font-weight: 600;

 }





 @media screen and (max-width:576px) {
     


     header {
         padding: 10px 20px;
         margin: 0px 0px;
     }

     nav {
         flex-direction: column;
     }

     .heading {

         margin: 10px 20px 0px;
     }

     .heading-title {
         font-size: 2rem;
         font-weight: 700;
     }

     .heading-paragraph {
         font-size: .8rem;
     }

     .feature {
         margin: 10px 10px;
         flex-direction: column;

     }

     .feature-img-container,
     .feature-text-container {
         max-width: fit-content;
     }

     .text-heading,
     .text-heading span,
     .text-heading .ft-color {
         font-size: 1rem;
     }

     .text-paragraph {
         font-size: .8rem;
     }

     .enjoy-feature {
         flex-direction: column;
         margin: 10px 20px;

     }

     .enjoy-feature-title {

         font-size: 1.5rem;
         margin-top: 50px;
     }

     .enjoy-feature-text {
         width: 90%;

     }

     .enjoy-feature-image img {
         width: 100%;
     }

     .enjoy-feature-image {
         width: auto;
     }

     .facts-card-section {
        grid-template-columns: repeat(1, 1fr);
     }

     .facts {
        max-width: 80%;
        margin: 10px 20px;
     }

}

 @media screen and (min-width:576px) and (max-width:1200px) {
     header {
         padding: 10px 20px;
     }

     nav {
         align-items: center;
         flex-direction: column;
     }

     .heading {

         margin: 20px 40px 0px;
     }

     .heading-title {
         font-size: 3rem;
         font-weight: 700;
     }

     .heading-paragraph {
         font-size: 1rem;
     }

     .feature {
         margin: 20px 20px;
         flex-direction: column;

     }

     .text-heading,
     .text-heading span,
     .text-heading .ft-color {
         font-size: 1rem;
     }

     .enjoy-feature {
         flex-direction: column;
         margin: 100px 100px;

     }

     .enjoy-feature-title {

         font-size: 2rem;
         margin-top: 50px;
     }

     .enjoy-feature-text {
         width: 90%;

     }

     .enjoy-feature-image img {
         width: 80%;
         margin: 10px auto;
     }

     .enjoy-feature-image {
         width: auto;
     }

     .facts-card-section {
        grid-template-columns: repeat(2, 1fr);
     }

     .facts {
        max-width: 80%;
        margin: 10px 20px;
     }




 }